#profileImage {
	width: 80px; /* Reduced width */
	height: 80px; /* Reduced height */
	border-radius: 50%;
	background: #512DA8; /* Fallback background color */
	font-size: 25px; /* Reduced font size */
	color: #fff; /* Text color */
	text-align: center;
	line-height: 80px; /* Adjusted line height */
	margin: 20px auto; /* Centered the image */
	overflow: hidden; /* Hide overflow */
  }
  
  #profileImage img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
  }
  