/* Container styles */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Label styles */
form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

/* Input styles */
form input[type="text"],
form input[type="number"],
form textarea,
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

/* Textarea styles */
form textarea {
    resize: vertical;
}

/* Button styles */
form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Messages styles */
#messages {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    background-color: #ffefc4;
    border: 1px solid #ffeeba;
    border-radius: 5px;
    list-style-type: none;
    text-align: center;
}

#messages li {
    color: #856404;
}

/* Utility classes */
.hidden {
    display: none;
}

/* Switch styles */
.switch-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #ccc9c9;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Radio button container styles */
.radio-container {
    display: inline-block; /* Ensures radio buttons appear in a line */
}

.radio-container input[type="radio"] {
    display: none; /* Hide the default radio buttons */
}

.radio-container label {
    display: inline-block;
    margin-right: 10px; /* Adjust spacing between radio buttons */
    cursor: pointer;
}

/* Style the radio button label when selected */
.radio-container input[type="radio"]:checked + label {
    font-weight: bold; /* Example style change when selected */
}
