{% extends "index.html" %}
{% block start %}
{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/my_account.css' %}">
<div class="profile">
    <!-- <img src="https://ui-avatars.com/api/?name=John+Doe" /> -->
    <div id="profileImage"></div>
    <h1>{{ request.user.username }}</h1>
    <p>Email:{{ request.user.email }}</p>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <span id="firstName">{{ request.user.username }}</span>
        
    
  </div>

  <script>
    $(document).ready(function(){
  var firstName = $('#firstName').text();
  var lastName = $('#lastName').text();
  var intials = $('#firstName').text().charAt(0) + $('#lastName').text().charAt(0);
  var profileImage = $('#profileImage').text(intials);
});

  </script>
{% endblock %}
